{{#if currentUser}}
<div class="container mt-4">
  <div id="user-welcome">
    <h1 class="display-4">Welcome {{currentUser.username}}!</h1>
    <h2 class="h3">Your Curiosities:</h2>
  </div>
  <div class="row">
    {{#each userCuriosities}}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.title}}">
        <div class="card-body">
          <h5 class="card-title mb-0">{{this.title}}</h5>
        </div>
        <div class="card-footer">
          <a href="/curiosities/{{this._id}}" id="btn-more-info">View Details</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<div class="container mt-4">
  <h1 class="display-4">User not logged in.</h1>
</div>
{{/if}}