{{#if currentUser}}
<h1>Welcome {{currentUser.username}}</h1>
  <h3>Your Curiosities</h3>
    {{#each userCuriosities}}
        <a href="/curiosities/{{this._id}}">
          {{this.title}}
          <img src="{{this.image}}" alt="{{this.title}}">
        </a>
    {{/each}}
{{else}}
  <h1>User not logged in.</h1>
{{/if}}
