<h1>{{curiosity.title}}</h1>

<hr />

<img src="{{curiosity.image}}" alt="">

<h3>{{curiosity.user.username}}</h3>


<h3>Description</h3>
<p>{{curiosity.description}}</p>

<h4>Date</h4>
<p>{{curiosity.date}}</p>



<hr />
{{#if isAllowedToEdit}}
<form action="/curiosities/{{curiosity._id}}/delete" method="POST">
    <input type="hidden" name="category" value="{{curiosity.category}}">
    <button>Delete</button>
</form>
<a href="/curiosities/{{curiosity._id}}/edit">Edit</a>
{{/if}}
<a href="/">Home</a>