<h1 class="details-title">{{curiosity.title}}</h1>
<h6> By: {{curiosity.user.username}}</h6>
<hr />

<div class="details-container">
    <img class="img-details" src="{{curiosity.image}}" alt="">

    <h3>Description</h3>
    <p>{{curiosity.description}}</p>

    <h4>Date</h4>
    <p>{{curiosity.date}}</p>
</div>


<hr />
{{#if isAllowedToEdit}}
<form action="/curiosities/{{curiosity._id}}/delete" method="POST">
    <input type="hidden" name="category" value="{{curiosity.category}}">
    <button>Delete</button>
</form>
<a href="/curiosities/{{curiosity._id}}/edit">Edit</a>
{{/if}}
<a href="/">Home</a>