<h1>{{title}}</h1>

{{#each curiosities}}
<section>
    <h2>{{this.title}}</h2>
    <img src="{{image}}" class="card-img-top" alt="{{title}}">
    <span>
        {{this.date}}
    </span>
    <p> <a href="/curiosities/{{this._id}}">More details</a></p>

  

</section>
{{/each}}