<h1>{{title}}</h1>

<hr />

<img src="{{image}}" alt="">

<h3>Description</h3>
<p>{{description}}</p>

<h4>Date</h4>
<p>{{date}}</p>



<hr />
<form action="/curiosities/{{_id}}/delete" method="POST">
    <input type="hidden" name="category" value="{{this.category}}">
    <button>Delete</button>
</form>
<a href="/curiosities/{{this._id}}/edit">Edit</a>
<a href="/">Home</a>