<h1 class="details-title">{{curiosity.title}}</h1>
<h6> By: {{curiosity.user.username}}</h6>
<hr />

<div class="details-container">
    <img class="img-details" src="{{curiosity.image}}" alt="">

    <h3>Category</h3>
    <p>{{curiosity.category}}</p>

    <h3>Description</h3>
    <p>{{curiosity.description}}</p>

    <h4>Date</h4>
    <p>{{curiosity.date}}</p>
</div>


<hr />

<div class="interaction-container">
    {{#if isAllowedToEdit}}
    <form action="/curiosities/{{curiosity._id}}/delete" method="POST">
        <input type="hidden" name="category" value="{{curiosity.category}}">
        <button id="delete-btn">Delete</button>
    </form>
    <button class="interaction">
        <a href="/curiosities/{{curiosity._id}}/edit">Edit</a>
    </button>
    {{/if}}
    <button class="interaction">
        <a href="/">Home</a>
    </button>
</div>