<h1 class="category-class">{{title}}</h1>

<div class="curiosities-container">
    {{#each curiosities}}
    <section class="curiosities">
        <h2 class="curiosity-title">{{this.title}}</h2>
        <div class="images-container">
            <img class="images" src="{{image}}" class="card-img-top" alt="{{title}}">
        </div>
        <button id="btn-more-info"> <a href="/curiosities/{{this._id}}">More details</a></button>

        <hr>
    </section>
    {{/each}}
</div>