<h1>Raving Reliques</h1>

{{#each curiosities}}
<section>
    <h2>{{this.title}}</h2>
    <img src="{{image}}" class="card-img-top" alt="{{title}}">
    <span>
        {{this.date}}
    </span>
    <p>{{this.description}}</p>

     <form action="/raving-reliques/{{_id}}/delete" method="POST">
        <button>Delete</button>
    </form>

</section>
{{/each}}